# Fichiers et répertoires générés par CMake
CMakeFiles/

# Répertoires de build
build/

install/nsis_variables.nsh
include/Version.h

# Fichiers de sauvegarde
*~

.vscode/

src/ressources/qrc_ressources.cpp
src/ressources/ressources.rcc

