# Fichiers et répertoires générés par CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Répertoires de build
build/
dependencies.txt
temp_dependencies.txt

bin/
lib/

# Fichiers de configuration
*.cmake

# Fichiers de log
*.log

# Fichiers de sauvegarde
*~

# Fichiers spécifiques à l'IDE
.idea/
.vscode/
*.swp
*.swo


# .editorconfig
.clang-format
.vscode/

src/ressources/qrc_ressources.cpp
src/ressources/ressources.rcc

