# Fichiers et répertoires générés par CMake
CMakeFiles/
# CMakeCache.txt
# cmake_install.cmake
# Makefile

# Répertoires de build
build/


# Fichiers de configuration
*.cmake

# Fichiers de log
*.log

# Fichiers de sauvegarde
*~

# Fichiers spécifiques à l'IDE
.vscode/

.vscode/

src/ressources/qrc_ressources.cpp
src/ressources/ressources.rcc

